$pwdub-white: #fff;
$pwdub-black: #3e454d;
$pwdub-lt-gray: #939393;
$pwdub-v-lt-gray: #e6e6e6;
$pwdub-blue: #0078c8;
$pwdub-purple: #001a70;
$pwdub-active: #00b5e2;
$pwdub-background-color: $pwdub-blue !default;
$pwdub-foreground-color: $pwdub-white !default;
