$pwdub-height: 56px !default;
$pwdub-gutter: 8px !default;
$pwdub-app-switcher-gutter: 56px !default;
$pwdub-app-switcher-gutter-mobile: 40px !default;

$pwdub-breakpoint-mobile: 480px !default;
$pwdub-breakpoint-tablet: 640px !default;

$pwdub-z-index: 10000 !default;
