.pwd-unity-bar .additional-actions {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    align-self: stretch;
    justify-content: flex-start;

    > .toggle {
        @include debuttonify;
        display: block;
        align-self: stretch;
        width: $pwdub-app-switcher-gutter;
        cursor: pointer;

        > .icon {
            width: 24px;
            height: 18px;
        }

        &:hover {
            background-color: $pwdub-action-hover-background-color;
        }

        @include mobile {
            width: $pwdub-app-switcher-gutter-mobile;
        }
    }

    > .actions-menu {
        @include invisible;
        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
        padding: 8px 16px;
        background-color: $pwdub-active;
        list-style: none;
        text-align: right;
        box-shadow: -10px 10px 20px rgba($pwdub-black, 0.2);

        @include mobile {
            width: 100vw;
            padding: 24px;
        }

        &.-show {
            @include visible;
        }

        > .listitem {
            margin: 0;
            padding: 12px 16px;
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            text-transform: uppercase;
            white-space: nowrap;

            @include mobile {
                padding: 16px 16px;
                font-size: 15px;
            }
        }

        > .listitem > .link {
            @include delinkify($pwdub-white);
            cursor: pointer;
        }
    }
}

.pwd-unity-bar .additional-actions.-on {
    > .toggle {
        background-color: $pwdub-active;

        > .icon,
        > .icon > use > svg {
            fill: $pwdub-white;
        }
    }

    > .actions-menu {
        @include visible;
    }
}
