.pwd-unity-bar .search-form {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    @include mobile {
        width: $pwdub-app-switcher-gutter-mobile;
        background-position: center;
    }

    > .icon {
        position: absolute;
        top: calc(50% - 9px);
        left: 5px;
        width: 24px;
        height: 18px;
        z-index: 2;
        pointer-events: none;

        @include mobile {
            left: 4px;
            cursor: pointer;
        }
    }

    > .icon,
    > .icon > use > svg {
        fill: $pwdub-blue;
    }

    > .field {
        appearance: none;
        flex: auto;
        min-width: 100px;
        height: 38px;
        padding-right: 8px;
        padding-left: 32px;
        border: 2px solid $pwdub-blue;
        border-radius: 0;
        background-color: $pwdub-white;
        font: inherit;
        font-size: 15px;

        @include mobile {
            @include invisible;
        }
    }

    > .action {
        @include debuttonify;
        display: none;
        height: 34px;
        padding: 0 8px;
        border: 2px solid $pwdub-white;
        border-left-width: 0;
        background-color: $pwdub-blue;
        color: $pwdub-white;
        font: inherit;
        font-size: 15px;
    }

    > .field:focus + .action {
        display: block;
    }
}

.pwd-unity-bar .app-actions.-search > .search-form {
    @include mobile {
        padding: 0 8px;
    }

    > .icon {
        @include mobile {
            right: 16px;
            left: auto;
        }
    }

    > .icon,
    > .icon > use > svg {
        @include mobile {
            fill: $pwdub-white;
        }
    }

    > .field {
        border-right-width: 0;

        @include mobile {
            @include visible;
            padding-left: 12px;
        }
    }

    > .action {
        @include restore;

        @include mobile {
            padding: 0;
            width: 44px;
            text-align: left;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
