.pwd-unity-bar.pwdub-theme-white {
    background-color: $pwdub-white;
    color: $pwdub-blue;

    svg {
        fill: $pwdub-blue;
    }

    .logo {
        @include replace-with-image($pwdub-image-logo-blue, contain);

        @include retina {
            @include replace-with-image($pwdub-image-logo-blue-2x, contain);
        }
    }
}

.pwd-unity-bar.pwdub-theme-blue {
    background-color: $pwdub-blue;
    color: $pwdub-white;

    svg {
        fill: $pwdub-white;
    }

    .logo {
        @include replace-with-image($pwdub-image-logo-white, contain);

        @include retina {
            @include replace-with-image($pwdub-image-logo-white-2x, contain);
        }
    }
}

.pwd-unity-bar.pwdub-theme-internal {
    background-color: $pwdub-purple;
    color: $pwdub-white;

    svg {
        fill: $pwdub-white;
    }

    .logo {
        @include replace-with-image($pwdub-image-logo-white, contain);

        @include retina {
            @include replace-with-image($pwdub-image-logo-white-2x, contain);
        }
    }

    .search-form {
        > .icon {
            fill: $pwdub-purple;
        }

        > .field {
            border-color: $pwdub-purple;
        }
    }
}
