{
    "extends": "airbnb",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": [0],
        "react/jsx-indent": [0],
        "react/jsx-indent-props": [2,4],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "peerDependencies": true}],
        "implicit-arrow-linebreak": [0],
        "function-paren-newline": [0],
        "react/jsx-one-expression-per-line": [0],
        "operator-linebreak": [0],
        "object-curly-newline": [0],
        "arrow-parens": [0]
    }
}
