@mixin delinkify($color : inherit) {
    &:link, &:visited, &:focus, &:hover, &:active {
        color: $color;
        text-decoration: none;
    }
}

@mixin invisible {
    opacity: 0;
    pointer-events: none;
}

@mixin visible {
    opacity: 1;
    pointer-events: auto;
}

@mixin mobile {
    @media (max-width: #{$pwdub-breakpoint-mobile}) {
        @content;
    }
}

@mixin retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @content;
    }
}
