.pwd-unity-bar .app-switcher {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    > .appname {
        order: 1;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;

        @include mobile {
            font-size: 14px;
        }
    }

    > .toggle {
        @include debuttonify;
        display: block;
        align-self: stretch;
        width: $pwdub-app-switcher-gutter;
        margin-right: 8px;
        cursor: pointer;
        z-index: 11;

        > .icon {
            width: 24px;
            height: 18px;

            &.-back {
                @include remove;
            }
        }

        &:hover {
            background-color: $pwdub-action-hover-background-color;
        }

        @include mobile {
            width: $pwdub-app-switcher-gutter-mobile;
        }
    }

    > .app-switcher-menu {
        @include invisible;
        position: absolute;
        top: 100%;
        left: 0;
        width: 90vw;
        max-width: 1024px;
        z-index: 10;

        @include tablet {
            width: $pwdub-breakpoint-mobile;
            max-width: 100vw;
        }

        @include mobile {
            top: 0;
        }
    }
}

.pwd-unity-bar .app-switcher.-on {

    > .toggle {
        background-color: $pwdub-active;

        > .icon {
            fill: $pwdub-white;
        }

        @include mobile {
            > .icon.-menu {
                @include remove;
            }

            > .icon.-back {
                @include restore;
                fill: $pwdub-white;
            }
        }
    }

    > .app-switcher-menu {
        @include visible;
    }
}
