.pwd-unity-bar .search-form {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-end;

    > .field {
        flex: auto;
        min-width: 100px;
        padding-left: 32px;
        border: 2px solid $pwdub-blue;
        border-radius: 0;
        background-image: $pwdub-icon-search;
        background-repeat: no-repeat;
        background-position: 8px center;
        background-size: 16px;
        font: inherit;
        font-size: 15px;
    }

    > .action {
        @include remove;
        @include debuttonify;
        padding: 0 8px;
        border: 2px solid $pwdub-blue;
        border-left-width: 0;
        background-color: $pwdub-blue;
        color: $pwdub-white;
        font: inherit;
        font-size: 15px;
    }

    > .field:focus + .action {
        @include restore;
    }
}
