.pwd-unity-bar.-pwdub-theme-white {
    background-color: $pwdub-white;
    color: $pwdub-blue;

    svg {
        fill: $pwdub-blue;
    }

    .logo {
        @include replace-with-image($pwdub-image-logo-blue, contain);

        @include retina {
            @include replace-with-image($pwdub-image-logo-blue-2x, contain);
        }
    }

    .search-form {
        > .icon,
        > .icon > use > svg {
            @include mobile {
                fill: $pwdub-blue;
            }
        }

        > .action {
            height: 38px;
            border-color: $pwdub-blue;
        }
    }
}

.pwd-unity-bar.-pwdub-theme-blue {
    background-color: $pwdub-blue;
    color: $pwdub-white;

    svg {
        fill: $pwdub-white;
    }

    .logo {
        @include replace-with-image($pwdub-image-logo-white, contain);

        @include retina {
            @include replace-with-image($pwdub-image-logo-white-2x, contain);
        }
    }

    .search-form {
        > .icon,
        > .icon > use > svg {
            fill: $pwdub-blue;

            @include mobile {
                fill: $pwdub-white;
            }
        }

        > .field {
            border-color: $pwdub-blue;
        }

        > .action {
            background-color: $pwdub-blue;
        }
    }
}

.pwd-unity-bar.-pwdub-theme-internal {
    background-color: $pwdub-purple;
    color: $pwdub-white;

    svg {
        fill: $pwdub-white;
    }

    .logo {
        @include replace-with-image($pwdub-image-logo-white, contain);

        @include retina {
            @include replace-with-image($pwdub-image-logo-white-2x, contain);
        }
    }

    .search-form {
        > .icon,
        > .icon > use > svg {
            fill: $pwdub-purple;

            @include mobile {
                fill: $pwdub-white;
            }
        }

        > .field {
            border-color: $pwdub-purple;
        }

        > .action {
            background-color: $pwdub-purple;
        }
    }
}
